<link rel="stylesheet" href="css/login.css">
<div class="center">
    <h1>Lobby</h1>
    <form action="/game">
        <div class="inputbox">
            <input name="username" type="text" required="required">
            <span>Display Name</span>
        </div>
        <div class="inputbox">
            <input name="roomname" type="text" required="required">
            <span>Room Name</span>
        </div>
        <div class="inputbox">
            <input type="submit" value="submit">
        </div>
    </form>
</div>